<div class="item" data-id={{ item.id }}>
    <h4 class='item-title'>
        {{ item.title }}
    </h4>
    <img src="{{ item.image }}" class='item-image'>
    <div class='item-description'>
        <p>{{ item.description }}</p>
    </div>
    <div class='item-price'>
        <span class='price'>{{ item.price }}&nbsp;руб.</span>
        <a href='#' class='buy-btn'>Купить</a>
    </div>
</div>
